pkgbase = mgmt
	pkgdesc = Next generation config management.
	pkgver = 1.0.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/purpleidea/mgmt
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	license = GPL3
	makedepends = augeas
	makedepends = go
	makedepends = go-md2man
	makedepends = go-tools
	makedepends = libpcap
	makedepends = libvirt
	makedepends = rubygems
	makedepends = ragel
	depends = augeas
	depends = libvirt
	conflicts = mgmt-bin
	options = !strip
	backup = etc/mgmt/mgmt.conf
	source = mgmt-1.0.1.tar.gz::https://github.com/purpleidea/mgmt/archive/refs/tags/1.0.1.tar.gz
	source = mgmt.service
	sha256sums = 1b0c8b6efc2c3064955d8dd3cadc6b11b9195ec07e33f0bf5e115a0e113494d6
	sha256sums = eeb4174a8556161b94f62808b4453ef91574797070ada53ffb90cb013aff9799

pkgname = mgmt
